{% extends "workshop_app/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    <h1>
        <span class = "block_title">Formulating Quadratic Expression</span>
    </h1>
{% endblock title %}

{% block content %}
    <h2>
        <!-- The following information is transferred from the models.py and pages.py files. -->
        <div style = "text-align : center;">
            <span class = "secondmost_heading"><b>Advertisement :</b> {{ player.Name_Initials_Consent }},</br></span>
            <span class = "secondmost_heading">{{ Advert }}</span>
        </div>
    </h2>

    <!-- This empty paragraph is used to put a space in between the heading and progress bar. -->
    <p></p>

    <!-- Add a progress bar to show how far the user is in the application. -->
    <div class = "container">
        <p>
            <span class = "alert alert-primary">Progress</span>
            <div class = "progress" style = "height : 10px">
                <div class = "progress-bar bg-info progress-bar-striped progress-bar-animated" style = "width : 33%">
                    <strong style = "color : black">Introduction</strong>
                </div>
                <div class = "progress-bar bg-warning progress-bar-striped progress-bar-animated" style = "width : 16.5%">
                    <strong style = "color : black">Calculation</strong>
                </div>
                <div class = "progress-bar bg-success progress-bar-striped progress-bar-animated" style = "width : 0%"></div>
            </div>
        </p>
    </div>  
    
    <!-- This empty paragraph is used to put a space in between the progress bar and user fields. -->
    <p></p>

    <div class = "regular_block">
        <p> 
            <div class = "alert alert-primary">
                <strong>{{ player.Name_Initials_Consent }}</strong>, Please Provide The Following Details To Describe Your Quadratic Expression :</br>
            </div>     

            <div class="alert alert-info" style = "text-align : center;">
                Standard Quadratic Equation : <strong>A*(x^2) + B*(x) + C</strong>
            </div>

                {% formfield player.A_Coefficient label = "What is the coefficient A in front of x^2? " %}
                {% formfield player.B_Coefficient label = "What is coefficient B in front of x? " %}
                {% formfield player.C_Coefficient label = "What is the constant C? " %}
        </p>
    </div>

    <!-- This empty paragraph is used to put a space in between the text and button. -->
    <p></p>

    <!-- Move to next page. -->
    <button class = "next_button" onclick = '{% next_button %}'>Continue ...</button>
{% endblock content %}