{% extends "workshop_app/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    <h1>
        <span class = "block_title">App Choice</span>
    </h1>
{% endblock title %}

{% block content %}
    <h2>
        <span class = "secondmost_heading">Instruction for App Choice</span>
    </h2>

    <!-- This empty paragraph is used to put a space in between the heading and progress bar. -->
    <p></p>

    <!-- Add a progress bar to show how far the user is in the application. -->
    <div class = "container">
        <p>
            <span class = "alert alert-primary">Progress</span>
            <div class = "progress" style = "height : 10px">
                <div class = "progress-bar bg-info progress-bar-striped progress-bar-animated" style = "width : 33%">
                    <strong style = "color : black">Introduction</strong>
                </div>
                <div class = "progress-bar bg-warning progress-bar-striped progress-bar-animated" style = "width : 0%"></div>
                <div class = "progress-bar bg-success progress-bar-striped progress-bar-animated" style = "width : 0%"></div>
            </div>
        </p>
    </div>  
    
    <!-- This empty paragraph is used to put a space in between the progress bar and user fields. -->
    <p></p>
    
    <div class = "regular_block">
        <p>
            <div class = "alert alert-primary">
                <!-- The following information is transferred from the models.py file. -->
                Hello <strong>{{ player.Name_Initials_Consent }}</strong>. Please Provide The Following Details :
            </div>
            
                {% formfield player.App_Choice label = "What type of <strong>computation</strong> do you wish to make? " %}
                {% formfield player.Education label = "What is your <strong>educational background</strong>? " %}
                {% formfield player.Concern label = "What is your current <strong>concern</strong> in this COVID-19 period? " %}
        </p>
    </div>

    <!-- This empty paragraph is used to put a space in between the text and button. -->
    <p></p>

    <!-- Move to next page. -->
    <button class = "next_button" onclick = '{% next_button %}'>Continue ...</button>
{% endblock content %}