{% extends "workshop_app/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    <h1>
        <span class = "block_title">Web Application</span>
    </h1>
{% endblock title %}

{% block content %}
    <!-- This empty paragraph is used to put a space in between the headings. -->
    <p></p>

    <h2>
        <span class = "secondmost_heading">Consent Decision</span>
    </h2>

    <!-- This empty paragraph is used to put a space in between the heading and progress bar. -->
    <p></p>

    <!-- Add a progress bar to show how far the user is in the application. -->
    <div class = "container">
        <p>
            <span class = "alert alert-primary">Progress</span>
            <div class = "progress" style = "height : 10px">
                <div class = "progress-bar bg-info progress-bar-striped progress-bar-animated" style = "width : 16.5%">
                    <strong style = "color : black">Introduction</strong>
                </div>
                <div class = "progress-bar bg-warning progress-bar-striped progress-bar-animated" style = "width : 0%"></div>
                <div class = "progress-bar bg-success progress-bar-striped progress-bar-animated" style = "width : 0%"></div>
            </div>
        </p>
    </div>

    <!-- This empty paragraph is used to put a space in between the progress bar and author information. -->
    <p></p>

    <!-- A bit of information about the author. -->
    <div id = "about_author">
        <div class = "container">
            <div class = "border border-dark">
                <div class = "media border p-3">
                    <p>
                        <div class = "media-body">
                            This is designed by Muntakim Rahman of UBC Electrical and Computer Engineering Class of 2022.</br>
                            Click this link to view his <u><a href = "https://www.linkedin.com/in/muntakim-rahman/" target = "_blank">Linkedin</a></u> profile:
                        </div>

                        <!-- This image is stored in the _static directory. -->
                        <img src = "{% static "Images/Headshot.jpg" %}" id = "headshot"/>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- This empty paragraph is used to put a space in between the author information and user fields. -->
    <p></p>

    <div class = "regular_block">
        <p>
            <div class = "alert alert-primary">
                Please Provide Following Details To Indicate Your Consent To Participate In This Research :
            </div>

            <!-- The following information is transferred from the models.py file. -->
            {% formfield player.Name_Initials_Consent label="Your <strong>Initials</strong> or <strong>First Name</strong>" %}
            {% formfield player.Age_Consent label="What is your <strong>Age?</strong> <mark>(You must be 10 or older to partake in this experiment.)</mark>" %}
            {% formfield player.Email_Consent label="<strong>Email</strong> <mark>(Not Required)</mark>" %}
            {% formfield player.Contact_Consent label="<strong>Phone Number</strong> <mark>(Not Required)</mark>" %}
        </p>
    </div>

    <!-- This empty paragraph is used to put a space in between the text and button. -->
    <p></p>

    <!-- Move to next page. -->
    <button class = "next_button" onclick = '{% next_button %}'>Continue ...</button>
{% endblock content %}
